.liked {
  transition: opacity 0.5s ease-in-out;
}

.like:hover + .liked {
  opacity: 1; /* Se hace visible en hover de la imagen base */
  z-index: 1; /* Sobre la imagen base */
}

.like {
  cursor: pointer;
}
